// Заголовки, загальні БЕМ блоки та інше...
.main-text {
	background: linear-gradient(90deg, #bddb06 0%, #08db06 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.hide-play-btn {
	display: none;
}

.btn-play {
	&::before {
		content: '';
		position: absolute;
		z-index: 10;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		width: rem(40);
		height: rem(40);
		background: url('@img/icons/play-btn.svg') 0 0 no-repeat;
	}
}
