// Заголовки, загальні БЕМ блоки та інше...
.main-text {
	background: linear-gradient(90deg, #bddb06 0%, #08db06 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
